<% form_name ||= "Manage" %>
<h1 class="text-center">  <%= form_name %> notebook </h1>
<%= form_for @notebooks , method: (form_name.downcase == 'edit' ? 'put' : 'post') do |f| %>
  <% if @notebooks.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@notebooks.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @notebooks.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-group">

    <label>Name Notebook</label>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :Propietario %>
    <input type="text" class: "form-control" value=<%=current_user.email%> id="cantidad" readonly="readonly"></input>
  </div>
  <%= f.submit "#{form_name} notebook", class: "btn btn-lg boton-color btn-block" %>
  <a href="<%= notebooks_path %>" class="btn btn-lg boton-color-dos btn-block"> View all </a>
<% end %>
