<div class="container">
  <h1 class="text-center"> Tasks </h1>
  <section class="row text-center">
      <a href="<%= new_task_path %>" class="btn btn-lg boton-color btn-block"> New Task </a>
  </section>
  <% @tasks.each do |t| %>
    <article>
      <ul class="view-padding li-view">
        <li class="col-md-2"><strong><%= t.name %></strong></li>
        <li class="col-md-2"><strong><%= t.created_at %></strong></li>
        <li class="col-md-2"><strong><%= t.priority %></strong></li>
        <li class="col-md-1"><a href="<%= task_path(t.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
        <li class="col-md-1"><a href="<%= edit_task_path(t.id) %>" class="btn btn-primary"> Edit </a></li>

      </ul>
    </article>
  <% end if @tasks.any? %>
</div>
