<div id="fullscreen_bg" class="fullscreen_bg" />
<h1 class="form-signin-heading">To Do List</h1>

<div class="container">
<%= form_for(resource, as: resource_name, class: "form-signin", url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, type: "text", class: "form-control", placeholder: "Email Adress" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", type: "confirm", class: "form-control", placeholder: "Password", required: "true" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In", class: "btn btn-lg boton-color btn-block", type: "submit" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
